.signup-form-container {
    padding: var(--spacing-xlarge);
  }
  
  #publisher-form input {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--background-white);
  }
  
  #publisher-form input:focus {
    outline: none;
    border-color: var(--primary-light);
    box-shadow: var(--primary-light);
  }
  
  #publisher-form button {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    background-color: var(--primary-dark);
    color: var(--text-light);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #publisher-form button:hover {
    background-color: var(--primary-light);
  }
  .publisher-section {
    max-width: 450px;
    margin: auto;
    background-color: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px var(--shadow-color);
    overflow: hidden;
  }
  
  .publisher-header {
    background-color: var(--background-white);
    color: var(--text-dark);
    padding: 1rem 0 1rem 0;
    box-shadow: none;
  }
  
  .publisher-header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
  }

  #publisher-added-message {
    display: none;
    margin-top: var(--spacing-medium);
    padding: var(--spacing-medium);
    background-color: var(--success-bg-color);
    color: var(--success-text-color);
    border-left: 4px solid var(--success-border-color);
  }
  #publisher-added-message:not(:empty) {
    display: block; 
}