@import 'variables.css';


#author-display-section {
  display: block;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: var(--spacing-xlarge);
  margin-top: var(--spacing-small);
}

#author-books-display-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: var(--overlay-background);

}

#author-books-display-modal .modal-content {
  background: var(--background-white);
  margin: 5% auto;
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  max-width: var(--max-width-small);
  box-shadow: 0 4px 15px var(--shadow-color);
  position: relative;
   #modal-title{
    margin-bottom: var(--spacing-medium);
   }
}

#author-books-display-modal .close-modal {
  margin-top: var(--spacing-large);
  padding: var(--spacing-medium) var(--spacing-large);
  background: var(--primary-dark);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}

#author-books-display-modal .close-modal:hover {
  background: var(--primary-light);
}

.random-book{
  margin-bottom: var(--spacing-medium);
}

.random.author {
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.random.author:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--shadow-color);
}

.author-info {
  padding: var(--spacing-medium) auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.author-info .author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  margin-bottom: var(--spacing-small);
}

.author-info .link {
  min-width: var(--min-width-small);
  min-height: var(--min-height-small);
  margin-top: auto;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--primary-dark);
  color: var(--text-light);
  text-decoration: none;
  border-radius: var(--border-radius);
  align-self: flex-start;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.author-info .link:hover {
  background-color: var(--primary-light);
}


.error-message {
  color: var(--error-red-color);
  text-align: center;
  padding: var(--spacing-large);
  font-weight: var(--font-weight-bold);
}

.letter-section {
  margin: var(--spacing-large) 0;
}

.letter-heading {
  color: var(--primary-dark);
  font-size: var(--font-size-xlarge);
  padding: var(--spacing-medium);
  border-bottom: 2px solid var(--primary-light);
  margin-bottom: var(--spacing-medium);
}

.author-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: var(--spacing-xlarge);
  margin: auto var(--spacing-medium);
  align-items: center;
}

/* Search */
.searchable-select {
  position: relative;
  max-width: var(--max-width-xsmall);
  margin: var(--spacing-medium) 0;
}

.search-wrapper{
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  margin-bottom: var(--spacing-medium);

  button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--primary-dark);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: var(--min-height-xsmall);
}
}


#search-form button:hover {
  background-color: var(--primary-light);
}

.search-input {
  padding: var(--spacing-small) var(--spacing-medium);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  flex: 1;
  min-width: var(--max-width-xsmall);
  max-width: var(--max-width-xsmall);
  min-height: var(--input-height-search);
  box-shadow: 0 2px 4px var(--shadow-color);
}

.search-results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--background-white);
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0 2px 4px var(--shadow-color);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search-results.active {
  display: block;
}

.search-result-item {
  padding: var(--spacing-medium);
  cursor: pointer;
}

.search-result-item:hover {
  background-color: var(--primary-light);
  color: var(--text-light);
}
/* Repsonsivness */

@media (max-width: 768px) {
  #books-display-section {
    grid-template-columns: 1fr;
  }
}