@import 'variables.css';


.login-container {
    max-width: 450px;
    margin: 5rem auto;
    background-color: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 15px var(--shadow-color);
    overflow: hidden;
}

.login-header {
    background-color: var(--background-white);
    color: var(--text-dark);
    padding: var(--spacing-large);
    text-align: center;
    box-shadow: none;
}

.login-header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.login-form-container {
    padding: var(--spacing-xlarge);
}

#login_form input {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--background-white);
}

#login_form input:focus {
    outline: none;
    border-color: var(--primary-light);
    box-shadow: var(--primary-light);
}

#login_form button {
    display: block;
    width: 100%;
    padding: var(--spacing-medium);
    background-color: var(--primary-dark);
    color: var(--text-light);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login_form button:hover {
    background-color: var(--primary-light);
}

@media (max-width: 768px) {
    .login-container {
        margin: 2rem var(--spacing-medium);
    }
    
    .login-form-container {
        padding: var(--spacing-large);
    }
}



#errorMessage {
    color: var(--error-red-color);
    display: none;
    margin-bottom: 10px;
    text-align: center;
}