@import 'variables.css';

main h2 {
    margin-bottom: var(--spacing-xlarge);
    text-align: center;
    font-size: var(--spacing-xlarge);
    font-weight: var(--font-weight-semi-bold);
    color: var(--primary-dark);
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    background: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: var(--spacing-xlarge);
    max-width: var(--max-width-medium);
    margin: var(--spacing-xlarge) auto;
}

.profile-info p {
    font-size: var(--font-size-large);
    color: var(--text-dark);
    margin: 0;
}

.profile-info strong {
    color: var(--primary-dark);
    min-width: var(--min-width-small);
    display: inline-block;
}

#edit-profile-btn, .profile-edit-form button{
    margin-top: var(--spacing-large);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--primary-dark);
    color: var(--text-light);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: background-color 0.2s;
}

#edit-profile-btn:hover, .profile-edit-form button:hover {
    background-color: var(--primary-light);
}

#delete-profile-btn {
    margin-top: var(--spacing-large);
    padding: var(--spacing-medium) var(--spacing-large);
    background-color: var(--error-red-color);
    color: var(--text-light);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

#delete-profile-btn:hover {
    background-color: var(--error-red-hover-color);
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    background: var(--background-white);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: var(--spacing-xlarge);
    max-width: var(--max-width-small);
    margin: var(--spacing-xlarge) auto;
}

.profile-edit-form label {
    display: flex;
    flex-direction: column;
    font-weight: var(--font-weight-semi-bold);
    color: var(--primary-dark);
}

.profile-edit-form input {
    margin-top: var(--spacing-small);
    padding: var(--spacing-small);
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-normal);
    background-color: var(--background-white);
}

.profile-edit-form input:focus {
    outline: none;
    border-color: var(--primary-light);
    box-shadow: 0 0 0 2px var(--primary-light);
}

.success-message {
    text-align: center;
    margin-top: var(--spacing-large);
    font-weight: var(--font-weight-bold);
    font-size: var(--spacing-large);
}

.error-message {
    color: var(--error-red-color);
    text-align: center;
    margin-top: var(--spacing-large);
    font-weight: bold;
    font-size: var(--font-size-normal);
}

@media (max-width: 768px) {
    .address {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    
}