@import "variables.css";

.signup-container {
  max-width: var(--max-width-small);
  margin: auto;
  background-color: var(--background-white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 15px var(--shadow-color);
  overflow: hidden;
}

.signup-header {
  background-color: var(--background-white);
  color: var(--text-dark);
  padding: var(--spacing-large);
  text-align: center;
  box-shadow: none;
}

.signup-header h1 {
  margin: 0;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-semi-bold);
}

.signup-form-container {
  padding: var(--spacing-xlarge);
}

#signup_form input {
  display: block;
  width: 100%;
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-large);
  border: 1px solid var(--shadow-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  background-color: var(--background-white);
}

#signup_form input:focus {
  outline: none;
  border-color: var(--primary-light);
  box-shadow: 0 0 0 2px var(--primary-light);
}

#signup_form button {
  display: block;
  width: 100%;
  padding: var(--spacing-medium);
  background-color: var(--primary-dark);
  color: var(--text-light);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#signup_form button:hover {
  background-color: var(--primary-light);
}

@media (max-width: 768px) {
  .login-container {
    margin: var(--spacing-xlarge) var(--spacing-medium);
  }

  .login-form-container {
    padding: var(--spacing-large);
  }
}
